body{
    background-color: rgb(250, 249, 242);
}
.header{
    text-align:center;
    color: rgb(97, 59, 9);
    font-size:20px;
    margin:20px;
}
.header-content{
    color:rgb(48, 42, 36);
}
p{
    font-size:25px;
}
img{
    height:250px;border-radius: 50%;margin:0px 70px;border:2px solid rgb(159, 138, 125);
}
.pic{
    margin-left:30%;
}
section {
    width: 97%;
    background-color: rgb(248, 245, 240);
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align:center;
}
li{
    font-size:25px;
}
footer {
    margin-top: 20px;
    color: #666;
    text-align: center;
}